.actionsList {
  display: flex;
  gap: 8px;
  height: 40px;

  &.isMobile {
    flex-direction: column;
    padding: 8px;
    min-width: 200px;
  }
}


@media (max-width: 768px) {
  .desktopActions {
    display: none;
  }

  .actionsList {
    flex-direction: column;
    padding: 8px;
    height: 100%;
  }
}

.spinner {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}