:root {
  --bg-logo: #1e293b;
  --bg-sidebar: #cbd5e1;
  --bg-header: #dddddd;
  --background-main: #F8F9FA;
  --background-card: #ffffff;
  --secondary-bg: #f1f5f9;
  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-on-accent: #ffffff;

  --accent-color: #2563eb;
  --accent-hover: #1d4ed8;
  --danger-color: #ef4444;
  --danger-hover: #dc2626;
  
  --border-color: #e2e8f0;
  --status-review: #f59e0b;
  --status-success: #10b981;
  --status-neutral: #64748b;
  --status-error: #ef4444;
}


[data-theme='dark'] {
  --bg-logo: #334155;
  --bg-sidebar: #1e293b;
  --bg-header: #0f172a;
  
  --background-main: #020617;
  --background-card: #1e293b;
  
  --secondary-bg: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --border-color: #334155;
  
  --accent-color: #60a5fa;
  --danger-color: #ff4444;
  --status-review: #fbbf24;
  --status-success: #34d399;
  --status-neutral: #94a3b8;
  --status-error: #f87171;
}