.container {
  width: 100%;
  padding: 0;
}

.mobileTitle {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 600;
}

.actionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.searchWrap {
  display: flex;
  flex: 1;
  max-width: 400px;
  gap: 10px;

  .searchInput {
    flex: 1;
    padding: 10px var(--padding-inner);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--background-card);
    color: var(--text-primary);
    &::placeholder {
        color: var(--text-secondary);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  gap: 8px;
  padding-bottom: 100px; 
}

.createBtnMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px; 
  padding-bottom: calc(env(safe-area-inset-bottom)); 
  
  background: var(--background-main);
  opacity: 0.95;
  backdrop-filter: blur(8px);
  border-top: 1px solid var(--border-color);
  z-index: 1000;
  
  box-sizing: border-box; 
}

.desktopOnly { @media (max-width: 768px) { display: none !important; } }
.mobileOnly { @media (min-width: 769px) { display: none !important; } }