.container {
  display: flex;
  flex-direction: column;
  max-height: min(70vh, 400px);
  background: var(--background-card);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}